*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    scroll-behavior: smooth;
}
.navbar-expand-lg{
    display: none;
}
nav{
    width: 100%;
    height: 150px;
    background-color: #263037;
    text-align: center;
    box-shadow: 0px 0px 15px #cbdce8;
    color: white;
    position: fixed;
    z-index: 1000;
}
.nav-top{
    display: flex;
    justify-content: space-between;
    padding: 0px 120px;
    align-items: center;
    padding-top: 20px;
    color: white;
}
.nav-top .fa-phone{
    font-size: 25px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.phone{
    display: flex;
    margin-right: 150px;
}
.phone p{
    font-size: 15px;
}
.logo{
    display: flex;
}
.nav-top .fa-utensils{
    font-size: 33px;
    padding-top: 20px;
    padding-right: 10px;
}
nav h2 a{
    font-family: 'Tangerine', cursive;
    font-size: 60px;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: white;
}
.icon{
    width: 10%;
    margin-left: 100px;
    margin-right: 20px;
    display: flex;
}
.icon input{
    border-radius: 0.5cm;
    opacity: 0;
    width: 0px;
    transition: 1s;
    outline: none;
    border: 2px solid white;
    padding: 0px 7px;
    background-color: transparent;
    color: white;
}
.icon i{
    font-size: 23px;
    margin-left: 7px;
    cursor: pointer;
}
.icon span{
    width: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    top: 90%;
    left: 0%;
}
.icons{
    width: 10%;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
}
.icons input{
    border-radius: 0.5cm;
    opacity: 0;
    width: 0px;
    transition: 1s;
    outline: none;
    border: 2px solid white;
    padding: 0px 7px;
    background-color: transparent;
    color: white;
}
.icons i{
    font-size: 23px;
    margin-left: 7px;
    cursor: pointer;
}
.icons span{
    width: 15px;
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    top: 90%;
    left: 0%;
}
.active-input{
    opacity: 1 !important;
    width: 300px !important;
}
.nav-bottom ul li{
    display: inline-block;
    font-size: 19px;
    padding-left: 40px;
}
.nav-bottom ul li a:hover{
    color: rgb(145, 169, 172);
    transition: 1s;
}
.active{
    color: black!important;
    border-color: black!important;
}
.white{
    color: white!important
}
.page{
    width: 20%;
    height: 240px;
    background-color: #2b373e;
    text-align: left;
    position: absolute;
    left: 30%;
    display: none;
    top: 150px;
}
.page ul li a{
    position: relative;
    color: white!important;
}
.page ul li{
    padding-top: 10px;
    font-size: 17px;
}
.page ul li a::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: #337373;
    display: block;
    position: absolute;
    transition: 1s;
}
.page ul li a:hover::after{
    width: 100%;
}
.social{
    font-size: 17px;
}
.fa-twitter{
    padding-left: 5px;
}
.fa-facebook{
    padding-left: 5px;
}
.active{
    color: black!important;
}

.big img{
    width: 90px;
    height: 90px;
}
.big{
    display: block;
    width: 95%;
    height: 170px;
    overflow-y: auto;
    margin: auto 30px;
}
.big::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #29484c; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #4e6367; 
  }
.small{
    width: 90%;
    display: flex;
    border-bottom: 1px solid rgb(3, 28, 37); 
}
.big h3{
    font-family: 'Tangerine', cursive;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 30px;
    font-size: 25px;
}
.big p{
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    font-weight: 600;
    padding-top: 25px;
}
.big i{
    font-size: 17px;
    padding-left: 40px;
    padding-top: 35px;
}
.shop span{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    bottom: 95%;
    left: 99%;
}




.box{
    width: 35%;
    padding-bottom: 200px;
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0%;
    font-family: "Montserrat", sans-serif;
    color: rgb(3, 28, 37);
    display: none;
    z-index: 1000;
    position: fixed;
}
.box h1{
    text-align: center;
    border-bottom: none; 
    font-size: 60px;
    font-weight: 600;
    font-family: 'Tangerine', cursive;
    padding-top: 10px;
    padding-left: 20px;
}
.icon1 i{
    font-size: 30px;
    position: absolute;
    left: 92%;
    bottom: 90%;
}
.number{
    font-size: 25px;
    padding-top: 100px;
    position: absolute;
    left: 85%;
    top: 37%;
}
.box .viewcart{
    font-size: 16px;
    padding: 22px 187px;
    position: absolute;
    background-color: #1c2e34;
    color: white;
    border: 1px solid white;
    transition: 1s;
    cursor: pointer;
    top: 70%;
}
.box .clear{
    font-size: 16px;
    padding: 22px 210px;
    position: absolute;
    background-color: #1c2e34;
    color: white;
    transition: 1s;
    border: 1px solid white;
    cursor: pointer;
    top: 84.9%;
}
.box .clear:hover{
    border: 1px solid #1c2e34;
    background-color: white;
    color: black;
}
.box .viewcart:hover{
    border: 1px solid #1c2e34;
    background-color: white;
    color: black;
}

header{
    width: 100%;
    padding-bottom: 190px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(19, 18, 18, 0.647)), url(Restaurant-Lighting-More-santa-barbara-design-center-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    width: 60%;
    padding-bottom: 450px;
    color: white;
    text-align: left;
    position: relative;
}
.header h1{
    font-size: 60px;
    font-weight: 900;
    animation-name: text;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: absolute;
    left: 7%;
}
.header p{
    position: absolute;
    left: 7%;
    line-height: 35px;
    font-size: 23px;
    animation-name: text1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
section{
    width: 100%;
    padding-bottom: 100px;
    background-color: #263037;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.section input{
    width: 40%;
    height: 60px;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
    border-radius: 0.1cm;
    background-color: #314147;
    box-shadow: 7px 7px 10px 5px #37464d;
    padding-left: 10px;
    border: 1px solid #314147;
    color: white;
    outline: none;
}
.section input::placeholder{
    color: white;
}
.section #person{
    border-radius: 0.1cm;
    box-shadow: 7px 7px 10px 5px #37464d;
    margin-left: 30px;
}
.section #time{
    box-shadow: 7px 7px 10px 5px #37464d;
    border-radius: 0.1cm;
    margin-left: 30px;
}
.message{
    width: 84%;
    height: 60px;
    border-radius: 0.1cm;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 10px;
    background-color: #314147;
    box-shadow: 7px 7px 10px 5px #37464d;
    color: white;
    border: 1px solid #314147;
    outline: none;
}
.message::placeholder{
    color: white;
}
.reserv{
    width: 20%;
    height: 70px;
    border-radius: 0.1cm;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-top: 40px;
    margin-left: 30px;
    background-color: #c6a87d;
    border-color: #c6a87d;
    border: none;
    transition: 1s;
    cursor: pointer;
}
.reserv:hover{
    color: #c6a87d;
    border: 1px solid #c6a87d;
    background-color: transparent;
}
.text{
    width: 60%;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
}
.text h1{
    font-size: 20px;
}
.text p{
    font-size: 17px;
    letter-spacing: 1px;
}
.social a{
    text-decoration: none;
    transition: 1s;
    color: white;
}
.social a:hover{
    color: #7c98a8;
}
#person{
    width: 40%;
    height: 60px;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 30px;
    border: 1px solid #314147;
    color: white;
    outline: none;
    box-shadow: 10px 10px 10px 5px #37464d;
    background-color: #314147;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
#time{
    width: 40%;
    height: 60px;
    font-size: 17px;
    margin-left: 20px;
    color: white;
    outline: none;
    box-shadow: 10px 10px 10px 5px #37464d;
    border: 1px solid #314147;
    background-color: #314147;
}
@keyframes text{
    from{
        top: 500px;
    }
    to{
        top: 65%;
        opacity: 1;
    }
}
@keyframes text1{
    from{
        top: 600px;
    }
    to{
        top: 85%;
        opacity: 1;
    }
}
@media(max-width:768px){
    .navbar-expand-lg{
        display: flex;
        position: fixed;
        padding: 20px;
    }
    nav{
        display: none;
    }
    .text-success h2 a{
        margin-top: 90px;
        margin-left: 20px;
        font-size: 90px;
    }
    .navbar-toggler{
        background-color: white;
        margin-right: 10px;
        margin-top: 5px;
        border: 2px solid white;
    }
    .navbar-toggler-icon{
        background-color: white;
        font-size: 25px;
    }
    .navbar-toggler:hover{
        border: none;
    }
    .collapse{
        width: 100%;
        height: 280px;
        background-color: #263037;
        text-align: left;
        letter-spacing: 1px;
        position: absolute;
        left: 30%;
        top: 150px;
    }
    .icons{
        margin-left: 5px;
        position: absolute;
        left: 0%;
    }
    .icons i{
        color: white !important;
    }
    .icon i{
        margin-top: 7px;
    }
    .icon span{
        margin-top: 10px;
    }
    .icon input{
        border-radius: 0.5cm;
        opacity: 0;
        width: 0px;
        transition: 1s;
        outline: none;
        border: 2px solid white;
        padding: 0px 7px;
        background-color: transparent;
        color: white;
    }
    .active-input{
        opacity: 1 !important;
        width: 300px !important;
    }
    .collapse ul li a{
        position: relative;
        color: white !important;
    }
    .collapse ul li{
        font-size: 17px;
        padding-left: 10px;
    }
    .collapse ul li a::after{
        content: "";
        width: 0%;
        height: 4px;
        background-color: #337373;
        display: block;
        position: absolute;
        transition: 1s;
    }
    .collapse ul li a:hover::after{
        width: 30%;
    }




   
    .nav-bottom,.nav-top,.page{
        display: none;
    }
    .header{
        width: 100%;
        padding-bottom: 350px;
    }
    .header h1{
        font-size: 55px;
        left: 7%;
    }
    .header p{
        font-size: 19px;
        padding-top: 70px;
        right: 5%;
    }
    section{
        display: block;
        padding-bottom: 400px;
    }
    .section input{
        width: 85%;
        margin-left: 25px;
    }
    .message{
        width: 85%;
    }
    #person{
        width: 85%;
    }
    #time{
        width: 85%;
        margin-top: 30px;
    }
    .reserv{
        width: 40%;
        margin-bottom: 20px;
    }
    .text{
        width: 70%;
        padding-left: 30px;
        padding-top: 15px;
    }
}